.container {
    margin: 100px auto;
    gap: 10px;
    width: 600px;
    height: 400px;
}

.slogan {
    float: left;
    width: 340px;
    height: 400px;
}

.login {
    float: left;
    width: 250px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
}

label {
    width: 70px;
    text-align: left;
    margin: 5px auto;
    float: left;
}

.login input {
    width: 150px;
    margin: 5px auto;
    float: right;
}

#submit {
    width: 60px;
    margin: 5px auto;
    float: right;
    clear: both;
}

.signup {
    float: left;
    width: 250px;
    height: 290px;
    margin-left: 10px;
}