body {
    background-color: #7898cc;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 100px auto;
    gap: 10px;
    width: 600px;
    height: 400px;
}

.slogan {
    float: left;
    width: 340px;
    height: 400px;
}

.login {
    float: left;
    width: 250px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;    
    background-color: #ffffff;
}

.login input {
    width: 150px;
    margin: 2.5px auto;
    float: right;
}

label {
    width: 100px;
    text-align: left;
    margin: 2.5px auto;
    float: left;
}

#login_error_message{
    color: red;
    width: 180px;
    text-align: left;
    float: left;    
}

button {
    width: 60px;
    /* margin: 5px auto; */
    float: right;
    clear: both;   
}

.signup {
    float: left;
    width: 250px;
    height: 290px;
    margin-left: 10px;
    background-color: #ffffff;
}

.signup h4 {
    height: 10px;
    text-align: center;
}

.signup input {
    width: 150px;
    margin: 2.5px auto;
    float: right; 
}

.form_group {
    height: 25px;
    display: flex;
    justify-content: space-between;
}

select {
    width: 150px;
    margin: 2.5px auto;
}

#error_message{
    color: red;
    width: 180px;
    text-align: left;
    float: left;    
}

